@import "tailwindcss";

/* Custom global base styles */
@layer base {
  html {
    scroll-behavior: smooth;
    background-color: white;
    color: #1f2937; /* text-gray-800 */
  }

  * {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
  }
  
.outfit-font{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}
.inria-sans-light {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.inria-sans-regular {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inria-sans-bold {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.inria-sans-light-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.inria-sans-regular-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.inria-sans-bold-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300,400,500,600,700;
  font-style: normal;
}

  body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: sans-serif;
  }
  
  main{
    background-image: url('/src/assets/Diagonal Lines.png');
  }
  h1,
  h2,
  h3 {
    font-weight: 600;
    font-family: "Outfit", sans-serif;
  }
  p{
    font-weight: 400;
    font-family: "inria Sans", sans-serif;
  }
  li{
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    display: inline-block;
    animation: marquee 25s linear infinite;
  }
}

/* Buttons and utility classes */
@layer components {
  .btn-primary {
    @apply bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded;
  }

  .btn-copy {
    @apply bg-green-500 hover:bg-green-600 text-white text-sm px-3 py-1 rounded;
  }
}

