@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-instrument: "Instrument Sans", sans-serif;
  --font-geist: "Geist", sans-serif;
  --font-Inter: "Inter", sans-serif;
}

/* Custom global base styles */
@layer base {
  html {
    scroll-behavior: smooth;
    background-color: white;
    color: #1f2937; /* text-gray-800 */
  }

  * {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
  }
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
  }
}
